<!-- views/pages/history.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
    <div class="row">
        <div class="col-sm-8">

            <div class="jumbotron">
                <h1>Movie Lite Bot</h1>
                <p>Welcome to front-end page</p>
            </div>

        </div>
        <div class="col-sm-4">

            <div class="well">
                <h3>Last Ten requests!</h3>
                <ul>
                    <% lastTen.forEach(function(movie) { %>
                    <li><%= movie.id %> - <%= movie.data.title %></li>
                    <% }); %>
                </ul>
            </div>

        </div>
    </div>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>